#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.py
*.pyc
*.txt
*.sh
*.properties
*.bat
*.cmd

forge/
forge/client/
forge/common/
forge/fml/
forge/patches/
forge/mcp/bin
forge/mcp/conf
forge/mcp/docs
forge/mcp/eclipse
forge/mcp/jars
forge/mcp/lib
forge/mcp/logs
forge/mcp/reobf
forge/mcp/runtime
forge/mcp/temp
forge/mcp/src/minecraft/Start.java
forge/mcp/CHANGELOG
forge/mcp/src/minecraft/net
forge/mcp/src/minecraft/paulscode
forge/mcp/src/minecraft/ibxm
forge/mcp/src/minecraft/forge_logo.png
forge/mcp/src/minecraft/mcmod.info
forge/mcp/src/minecraft/mcpmod.info
forge/mcp/
!/forge/mcp/src/minecraft/dmf444
!/forge/mcp/src/minecraft/dmf444/ExtraFood/Client
!/forge/mcp/src/minecraft/dmf444/ExtraFood/Common
*.lzma
*.cfg

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

